
/*flex*/
.flex1 {
    flex: 1;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*marigin*/
.margin-bottom10 {
    margin-bottom: 10px;
}

.border {
    border: 1px solid #ccc;
}

.background {
    background: #f99;
}
/*padding*/
.padding20 {
    padding: 20px;
}